.container {
    background-color: white;
    width: 80%;
    margin-left: 10%;
}

.logo {
    display: block;
    margin: 10px;
    padding: 10px;

}

/** cabeçalho da página **/

.header {
    background-color: #1597a7;
}

/** menu início da página **/

.nav-bar li {
    float: left;
    text-align: center;

}

.nav-bar ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #1597a7;
    margin: 0px;
    padding-left: 10%;
    font-family: 'Fira Sans', sans-serif;
    
}

.nav-bar li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    display: block;

}

.nav-bar li a:hover{
    background-color: #ff8c65;
    color:white;
    
}

.footer {
    background-color: #1597a7;
    color: white;
    text-align: center;
    padding: 10px;
}

.footer li a {
    color: white;
    
}

.col-3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}